/target/
/.settings/
/basicPP.txt
/log_4r_BOF.txt
/log_4r_MBS.txt
/log_4r_MCB.txt
/log_HH.txt
/traceNew.txt
/log_IGF[SPT]_js06x06.txt
/log_IGF[SPT]_js10x10.txt
/log_IGF[SPT]_js20x05.txt
/log_IGF[SPT]_js06x06.txt
/log_IGF[SPT]_js10x10.txt
/log_IGF[SPT]_js20x05.txt
